/* Reset styles */
@import url("reset.css");

:root {
	--seasalt: #f8f9faff;
	--antiflash-white: #e9ecefff;
	--platinum: #dee2e6ff;
	--french-gray: #ced4daff;
	--french-gray-2: #adb5bdff;
	--slate-gray: #6c757dff;
	--outer-space: #495057ff;
	--onyx: #343a40ff;
	--eerie-black: #212529ff;
}

* {
	box-sizing: border-box;
}

/* Font import (Poppins) */
@import url("fonts.css");

body {
	font-family: Poppins, sans-serif;
}

a {
	color: #0000ff;
}

.container {
	margin: 0 auto;
}

.container-sm {
	max-width: 375px;
}

.container-md {
	max-width: 768px;
}

.container-lg {
	max-width: 1024px;
}

header {
	background-color: var(--seasalt);
	padding: 2rem 1rem;
}

header .container-lg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	text-decoration: none;
	font-weight: 400;
}

.logo span {
	padding: .5rem .75rem;
	border: 1px solid;
	border-radius: .25rem;
	font-style: italic;
	font-weight: 900;
	margin-right: .75rem;
}

.menu-icon {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.menu-icon img {
	padding: .5rem .75rem;
	border: 1px solid;
	border-radius: .25rem;
}

.menu-icon span {
	display: flex;
	align-items: center;
	margin-right: .75rem;
}